body {
    padding: 0;
    margin: 0;
}

h1 a {
    color: #FCA205;
    
}

h3 {
    text-transform: capitalize;
    color: #FCA205;
}

p {
    font-size: 17px;
}

.page-header {
    background-image: linear-gradient(125deg,#0c992a 0, #FCA205 50%, red 100%);
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    text-align: center;
}

.content {
    margin-left: 0 auto;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save,
.save:hover {
    float: right;
    background: #FCA205;
    color: white;
    padding: 10px 20px;
    font-family: 'Lobster', sans-serif;
    font-size: 20px;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
    padding-bottom: 20px;
    border-bottom: 2px solid grey;
    text-align: justify;
}

.post h1 a,
.post h1 a:visited {
    color: rgb(53, 43, 43);
    text-decoration: none;
    font-weight: bold;
    text-shadow: 0 2px 1px grey;
    opacity: .5;
}

footer {
    padding: 30px 0;
    /* padding-top: 30px; */
    background-image: linear-gradient(125deg, red 0, #FCA205 50%, #0c992a 100%);
}

footer p {
    font-size: 30px;
}

footer,
a,
a:hover {
    text-align: center;
    font-size: 30px;
    font-family: 'Lobster', sans-serif;
    color: white;
    text-decoration: none;
}

.default:link,
.default:visited,
.default:hover,
.default:active {
    background: #FCA205;
    color: white;
    padding: 10px 20px;
    font-family: 'Lobster', sans-serif;
    font-size: 25px;
    float: right;
}